snippet t "testfile"
`!p 
import os
filepath = os.path.join(os.getcwd(), snip.basename)

snip.rv = filepath`
endsnippet

snippet quote "generic format for a quote"
-----
${1:page number}:

${2:quote}

endsnippet
