.gitmodules
config/nvim/.netrwhist
config/nvim/.plugged
config/nvim/test/vendor
config/nvim/autoload/plug*
config/nvim/undodir
config/nvim/colors
config/nvim/doc
config/configstore
zplug/
tpm/
config/coc/extensions/node_modules
__pycache__
scripts/python/writing/tests/
zsh/plugins
