snippet print "javascript is dumb"
console.log(JSON.stringify($1))
endsnippet

snippet p "javascript is dumb"
console.log($1)
endsnippet

snippet pq "javascript is dumb"
console.log('$1')
endsnippet

snippet func "function header"
////////////////////////////////////////////////////////////////////////////////
// ${1:function name}
//
// ${2:description}
////////////////////////////////////////////////////////////////////////////////
endsnippet
