snippet print "javascript is dumb"
console.log($1);
endsnippet

snippet func "function header"
////////////////////////////////////////////////////////////////////////////////
// ${1:function name}
//
// ${2:description}
////////////////////////////////////////////////////////////////////////////////
endsnippet
