snippet mc "create a mark (mark-create)"
[$1]()
endsnippet

snippet head "header"
#-------------------------------------------------------------------------------
# $1
#-------------------------------------------------------------------------------

endsnippet

snippet shead "small header"
----------------------------------------
> $1
----------------------------------------

endsnippet

snippet mh "marker header"
#-------------------------------------------------------------------------------
# [$1]()
#-------------------------------------------------------------------------------

endsnippet

snippet smh "small marker header"
----------------------------------------
> [$1]()
----------------------------------------

endsnippet

snippet line "line"
--------------------------------------------------------------------------------

endsnippet

snippet mline "medium line"
----------------------------------------

endsnippet

snippet mtd "medium todo"
>---------------- todo -----------------

endsnippet

snippet mch "medium comment header"
`!p
text = snip.v.text.rstrip()

start = '>'
pad = ' '
fill = '-'

line_length = 40

available_length = line_length
available_length -= len(start)
available_length -= 2 * len(pad)

if len(text) > available_length:
    string = f"{start}{pad}{text}"
else:
    fill_length = available_length - len(text)
    half_fill_length = fill_length // 2

    left_fill = fill * half_fill_length
    right_fill = fill * half_fill_length

    # if the fill length is odd, add 1 to the right side
    if fill_length % 2:
        right_fill += fill

    string = f"{start}{left_fill}{pad}{text}{pad}{right_fill}"

snip.rv = string
`

endsnippet

snippet journal "journal entry"
`!p
from datetime import datetime
now = datetime.now()

day = str(now.day)
month = str(now.month)
year = str(now.year)

if len(day) == 1:
    day = f"0{day}"

if len(month) == 1:
    month = f"0{month}"

snip.rv = "%s%s%s" % (year, month, day)
`:

$1

--------------------------------------------------------------------------------

endsnippet

snippet tbcharacter "template for notes on a character from 'The Burnt'"
--------------------------------------------------------------------------------
>
# facts
>
--------------------------------------------------------------------------------

----------------------------------------
> events (invented)
----------------------------------------

----------------------------------------
> typical day
----------------------------------------

----------------------------------------
> relationships
----------------------------------------

----------------------------------------
> broad strokes about them
----------------------------------------

----------------------------------------
> physique
----------------------------------------

--------------------------------------------------------------------------------
>
# personality/traits
>
--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
>
# devices
>
--------------------------------------------------------------------------------

----------------------------------------
> themes
----------------------------------------

--------------------------------------------------------------------------------
>
# meta
>
--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
>
# Boschdoc
>
--------------------------------------------------------------------------------

endsnippet
