snippet -- "endash"
–
endsnippet

snippet --- "emdash"
—
endsnippet

snippet journal "journal entry"
`!p
from datetime import datetime
now = datetime.now()

day = str(now.day)
month = str(now.month)
year = str(now.year)

if len(day) == 1:
    day = f"0{day}"

if len(month) == 1:
    month = f"0{month}"

snip.rv = "%s%s%s" % (year, month, day)
`:

$1

---

endsnippet
