snippet h1 "header"
#-------------------------------------------------------------------------------
# $1
#-------------------------------------------------------------------------------
endsnippet


snippet h2 "medium header"
=-----------------------------------------------------------
= $1
=-----------------------------------------------------------
endsnippet


snippet hp "prose header"
:---------------------------------------
: $1
:---------------------------------------
endsnippet



snippet line "line"
--------------------------------------------------------------------------------
endsnippet

snippet mline "medium line"
------------------------------------------------------------
endsnippet

snippet hline "half line"
----------------------------------------
endsnippet

snippet sline "short line"
--------------------
endsnippet
